name: Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        php-version: ['7.4', '8.2']
        wordpress-version: ['6.2.2', 'latest']
        woocommerce-version: ['8.2.0', '9.3.3']
        exclude:
          - wordpress-version: '6.2.2'
            woocommerce-version: '9.3.3'
      max-parallel: 2
    name: Run Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: UnivaPay-for-WooCommerce
    steps:
    - name: Common Setup
      uses: ./.github/workflows/common-steps.yml
      with:
        php-version: ${{ matrix.php-version }}
        wordpress-version: ${{ matrix.wordpress-version }}
        woocommerce-version: ${{ matrix.woocommerce-version }}

    - name: Prep WordPress & Plugins Test Environment
      run: |
        bin/install-wp-tests.sh wordpress_test root wordpress 127.0.0.1 ${{ matrix.wordpress-version }}
        cp wp-tests-config.php /tmp/wordpress-tests-lib/wp-tests-config.php
        wp config create --dbname=wordpress_test --dbuser=root --dbpass=wordpress --dbhost=127.0.0.1 --path=/tmp/wordpress
        wp core install --url=http://localhost --title=TestWP --admin_user=admin --admin_password=admin --admin_email=test@example.com --path=/tmp/wordpress
        wp plugin install woocommerce --version=${{ matrix.woocommerce-version }} --activate --path=/tmp/wordpress
        cp -r . /tmp/wordpress/wp-content/plugins/UnivaPay-for-WooCommerce
        rm -rf /tmp/wordpress/wp-content/plugins/UnivaPay-for-WooCommerce/vendor

    - name: Update WP-Config for Tests
      run: sed -i "s/define('DB_HOST', .*/define('DB_HOST', '127.0.0.1:3306');/" /tmp/wordpress-tests-lib/wp-tests-config.php

    - name: Run Test
      run: ./vendor/bin/phpunit --configuration phpunit.xml
